* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #221815;
  font-family: "Bebas Neue", sans-serif;
  font-size: 20px;
  animation: fadeIn 10s forwards;
}

img {
  width: 15rem;
  height: 20rem;
}

h1 {
  color: #fbc649;
  font-size: 5rem;
}

a,
li {
  color: #fbc649;
  font-size: 2rem;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  flex-direction: column;
}
